{% extends 'parts/base.html' %}
{% load static %}

{% block sidebar %}
{% include 'parts/sidebar.html' with sidebar_links_template='toplanti/parts/sidebar_toplanti.html' app_name='toplanti' app_title='Toplantı Yönetimi' %}
{% endblock sidebar %}

{% block content %}

<div class="card">
    <div class="card-body p-2.5">
        <div class="flex flex-col sm:flex-row gap-4 sm:gap-5">
            <!-- Avatar -->
            <div class="flex justify-center sm:justify-start">
                <img class="size-20 rounded-lg border border-gray object-cover" src="{% if user.photo %}{{ user.photo.url }}{% else %}{% static 'images/avatar/avatar_blank.png' %}{% endif %}">
            </div>
            
            <div class="flex-1 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-2.5">
                <div class="text-center sm:text-left">
                    <h1 class="text-lg text-title">{{ user.full_name }}</h1>
                    <p class="text-context mt-0.5">{{ user.title }}</p>
                </div>
                
                <a href="{% url 'profilim' %}" class="eo-btn eo-btn-danger sm:self-start">
                    Back
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Password Change -->
<div class="grid grid-cols-1 lg:grid-cols-1 gap-3.5">
    <div class="card">
        {% if messages %}
            {% include 'messages/messages.html' %}
        {% endif %}
        <div class="eo-alert-warning m-3.5 mb-0">
            <div class="eo-alert-warning-inner">
                <iconify-icon icon="line-md:alert-circle-twotone" class="eo-alert-warning-icon"></iconify-icon>
                <div class="ml-3.5">
                    <p class="eo-alert-warning-title font-bold mb-2">Password Requirements:</p>
                    <ul class="text-sm space-y-1 list-disc list-inside text-warning">
                        <li>At least <strong>8 characters</strong> long,</li>
                        <li>Must contain at least one <strong>uppercase letter, lowercase letter, special character, and a digit</strong></li>
                    </ul>
                </div>
            </div>
        </div>

        <form action="" method="post">
        <div class="eo-form-body pb-3.5">
                {% csrf_token %}
                <div class="col-span-1 lg:col-span-4">
                    <label for="" class="eo-form-label">Current Password</label>
                    <div class="mt-1.5">
                        {{ form.old_password }}
                    </div>
                </div>

                <div class="col-span-1 lg:col-span-4">
                    <label for="" class="eo-form-label">New Password</label>
                    <div class="mt-1.5">
                        {{ form.new_password1 }}
                    </div>
                </div>

                <div class="col-span-1 lg:col-span-4">
                    <label for="" class="eo-form-label">Repeat New Password</label>
                    <div class="mt-1.5">
                        {{ form.new_password2 }}
                    </div>
                </div>

                <div class="col-span-1 lg:col-span-12">
                    <div class="flex justify-end gap-3.5">
                        <button type="submit" class="eo-btn eo-btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock content %}
